spring:
  datasource:
    url: jdbc:h2:tcp://localhost/~/stylecast
    username: sa
    password:
    driverClassName: org.h2.Driver

  jpa:
    hibernate:
      ddlAuto: create
    properties:
      hibernate:
        #        show_sql: true
        format_sql: true
        default_batch_fetch_size: 100
    open-in-View: true

logging.level:
  org.hibernate.SQL: debug
#  org.hibernate.type: trace