/* addOutfit.css */

/* 네비게이션 바 스타일 */
.navbar {
    background-color: #333;
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

/* 전체 폼 스타일링 */
.outfit-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

/* 폼 그룹 스타일링 */
.form-group {
    margin-bottom: 15px;
}

/* 레이블 스타일링 */
label {
    font-weight: bold;
    margin-bottom: 5px; /* 레이블 아래 간격 추가 */
}

/* 입력 필드 스타일링 */
input[type="text"],
select,
input[type="file"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 5px;
}

/* 날씨 선택 부분 스타일링 */
.weather-checkbox {
    margin-top: 10px; /* 레이블과 체크박스 그룹 간격 추가 */
}

.weather-checkbox label {
    font-weight: normal;
    margin-right: 5px;
}

/* 버튼 스타일링 */
input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* 파일 업로드 필드 스타일링 */
input[type="file"] {
    margin-top: 5px;
}
