/* CSS 파일 - insta-style.css */

/* 페이지 전체 스타일 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

/* 네비게이션 바 스타일 */
.navbar {
    background-color: #3897f0;
    padding: 10px;
    text-align: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 10px;
}

/* 게시물 컨테이너 스타일 */
.ootd-detail {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}

/* 게시물 이미지 스타일 */
.ootd-detail img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

/* 게시물 정보 스타일 */
.ootd-detail p {
    font-size: 16px;
    margin: 10px 0;
}

/* 좋아요 버튼 스타일 */
#likeButton, #unlikeButton {
    background-color: #3897f0;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}

#likeButton:hover, #unlikeButton:hover {
    background-color: #3579e0;
}

/* 게시물 정보 내용 스타일 */
#outfitId {
    display: none; /* 숨김 처리 */
}
