/* initPage.css */

/* 홈 페이지 컨테이너 스타일 */
.container {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* 제목 스타일 */
h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #007BFF;
}

/* 로그아웃 및 로그인/회원가입 버튼 스타일 */
button, a {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}

button {
    background-color: #dc3545; /* 빨간색 */
}

a {
    background-color: #007BFF; /* 파란색 */
}
