/* login.css */

/* 로그인 컨테이너 스타일 */
.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* 제목 스타일 */
h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

/* 폼 그룹 스타일 */
.form-group {
    margin-bottom: 15px;
}

/* 레이블 스타일 */
label {
    font-weight: 500;
    display: block;
    margin-bottom: 5px;
}

/* 입력 상자 스타일 */
.form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* 로그인 버튼 스타일 */
.btn-primary {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #0056b3;
}
