/* mypage.css */

/* 전체 페이지 스타일 */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.mypage-container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

/* 사용자 정보 스타일 */
.user-info {
    margin-bottom: 20px;
}

.user-info div {
    margin-bottom: 10px;
}

.user-info strong {
    font-weight: bold;
    color: #333; /* 글자 색상 추가 */
}

/* 사용자 상세 정보 스타일 */
.user-details div {
    margin-bottom: 10px;
}

.user-details strong {
    font-weight: bold;
    color: #333; /* 글자 색상 추가 */
}

/* 선호하는 스타일 목록 스타일 */
.user-details ul {
    list-style-type: none;
    padding: 0;
}

.user-details li {
    margin-bottom: 5px;
}

/* 네비게이션 바 스타일 */
.navbar {
    background-color: #333;
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s; /* 링크에 호버 효과 추가 */
}

.navbar a:hover {
    background-color: #555; /* 호버 효과 스타일 추가 */
    color: white;
}
