/* styles.css */

/* 전체 페이지 스타일 */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

/* 날씨 정보 스타일 */
h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

#city {
    font-weight: bold;
    font-size: 18px;
    color: #333;
}

#temperature {
    font-size: 24px;
    color: #333;
}

#description {
    font-size: 18px;
    color: #666;
    margin-top: 10px;
}

.weather-icon {
    width: 100px;
    height: 100px;
    margin: 20px 0;
}

/* 페이지 반응형 스타일 */
@media screen and (max-width: 600px) {
    .container {
        max-width: 300px;
    }
    h1 {
        font-size: 20px;
    }
    #city {
        font-size: 16px;
    }
    #temperature {
        font-size: 20px;
    }
    #description {
        font-size: 16px;
    }
    .weather-icon {
        width: 80px;
        height: 80px;
    }
}
