<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>의류 생성 폼</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        // 페이지 로드 시 실행
        window.addEventListener('load', function () {
            // 로컬 스토리지에서 액세스 토큰 가져오기
            const accessToken = localStorage.getItem('accessToken');

            // AccessToken이 있다면 서버로 보내서 회원 ID 가져오기
            if (accessToken) {
                // 서버에 AccessToken을 보내서 회원 ID 가져오는 AJAX 요청
                axios.get('/getMemberId', {
                    headers: {
                        'Authorization': `Bearer ${accessToken}`
                    }
                })
                    .then(response => {
                        const memberId = response.data; // 서버에서 받은 회원 ID

                        // memberId를 Thymeleaf 모델로 설정
                        document.getElementById('memberId').value = memberId;
                    })
                    .catch(error => {
                        console.error('회원 ID 가져오기 실패', error);
                    });
            }
        });
    </script>
</head>
<body>
<h1>의류 생성</h1>
<form th:action="@{'/clothes/create'}" method="post" enctype="multipart/form-data">
    <!-- member ID를 숨겨진 필드로 추가 -->
    <input type="hidden" id="memberId" name="memberId" th:value="${memberId}" />
    <div>
        <label for="name">의류 이름:</label>
        <input type="text" id="name" name="name" th:required="required">
    </div>
    <div>
        <label for="category">카테고리:</label>
        <select id="category" name="category" th:required="required">
            <option value="상의">상의</option>
            <option value="바지">바지</option>
            <option value="아우터">아우터</option>
            <option value="신발">신발</option>
            <option value="원피스">원피스</option>
            <option value="스커트">스커트</option>
        </select>
    </div>
    <div>
        <label for="color">색상:</label>
        <input type="text" id="color" name="color" th:required="required">
    </div>
    <div>
        <label for="season">계절:</label>
        <select id="season" name="season" th:required="required">
            <option value="봄">봄</option>
            <option value="여름">여름</option>
            <option value="가을">가을</option>
            <option value="겨울">겨울</option>
        </select>
    </div>
    <h4>의류 사진 업로드</h4>
    <input type="file" name="file">
    <div>
        <input type="submit" value="의류 생성">
    </div>
</form>
</body>
</html>
