<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>코디 상세 정보</title>
  <link rel="stylesheet" type="text/css" href="/css/detailOotd.css"> <!-- CSS 파일 추가 -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <div class="navbar">
    <a th:href="@{/main}">Home</a>
    <a th:href="@{/ootd}">데일리룩</a>
  </div>
</head>
<body>
<div class="container">
  <a th:href="@{/ootd}">뒤로가기</a>
  <h1 class="ootd-title">코디 상세 정보</h1>
  <div class="ootd-detail">
    <img class="ootd-image" th:src="|/file/images/${outfitDetail.photoId}|" alt="코디 이미지">
    <div class="ootd-info">
      <span id="outfitId" th:text="${outfitId}"></span>
      <p class="ootd-nickname">닉네임: <span th:text="${outfitDetail.nickname}"></span></p>
      <p class="ootd-name">코디명: <span th:text="${outfitDetail.name}"></span></p>
      <p class="ootd-style">스타일: <span th:text="${outfitDetail.style}"></span></p>
      <p class="ootd-description">코디 설명: <span th:text="${outfitDetail.description}"></span></p>
      <p class="ootd-top">상의: <span th:text="${outfitDetail.top}"></span></p>
      <p class="ootd-bottom">하의: <span th:text="${outfitDetail.bottom}"></span></p>
      <p class="ootd-outerwear">아우터: <span th:text="${outfitDetail.outerwear}"></span></p>
      <p class="ootd-shoe">신발: <span th:text="${outfitDetail.shoe}"></span></p>
      <p class="ootd-season">계절: <span th:text="${outfitDetail.season}"></span></p>
      <p class="ootd-weather">추천 날씨: <span th:if="${outfitDetail.weatherList}">
        <span th:each="weather, iterStat : ${outfitDetail.weatherList}">
          <span th:text="${weather}"></span>
          <span th:if="${!iterStat.last}">, </span>
        </span>
      </span></p>
    </div>
    <div class="ootd-like">
      <p class="ootd-likes">좋아요: <span id="likeCount" th:text="${outfitDetail.likes}"></span></p>
      <button class="ootd-like-button" id="likeButton" data-outfit-id="${outfitIdLong}">좋아요</button>
      <button class="ootd-unlike-button" id="unlikeButton" data-outfit-id="${outfitIdLong}">좋아요 취소</button>
    </div>
  </div>
</div>

<script>
  // 좋아요 버튼 클릭 이벤트 처리
  document.getElementById('likeButton').addEventListener('click', function() {
    const outfitId = document.getElementById('outfitId').textContent;

    // outfitId를 사용하여 좋아요를 전송
    axios.post(`/ootd/like/${outfitId}`)
            .then(response => {
              const likeCount = response.data; // 서버에서 받은 좋아요 수
              const likeCountSpan = document.getElementById('likeCount');
              likeCountSpan.textContent = likeCount; // 좋아요 수 업데이트
            })
            .catch(error => {
              console.error('좋아요 실패', error);
            });
  });
  document.getElementById('unlikeButton').addEventListener('click', function() {
    const outfitId = document.getElementById('outfitId').textContent;

    // outfitId를 사용하여 좋아요를 전송
    axios.post(`/ootd/unlike/${outfitId}`)
            .then(response => {
              const likeCount = response.data; // 서버에서 받은 좋아요 수
              const likeCountSpan = document.getElementById('likeCount');
              likeCountSpan.textContent = likeCount; // 좋아요 수 업데이트
            })
            .catch(error => {
              console.error('좋아요 취소 실패', error);
            });
  });
</script>
</body>
</html>
