<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>코디 상세 정보</title>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/detailOotd.css"> <!-- CSS 파일 추가 -->
  <div class="navbar">
    <a th:href="@{/main}">Home</a>
    <a th:href="@{/ootd}">데일리룩</a>
  </div>
</head>
<body>
<h1>코디 상세 정보</h1>
<div class="ootd-detail">
  <img th:src="|/file/images/${outfitDetail.photoId}|" width="300" height="300">
  <!-- 이 코드는 Thymeleaf 템플릿으로 outfitId를 클라이언트에 렌더링합니다. -->
  <span id="outfitId" th:text="${outfitId}"></span>
  <p>닉네임: <span th:text="${outfitDetail.nickname}"></span></p>
  <p>코디명: <span th:text="${outfitDetail.name}"></span></p>
  <p>스타일: <span th:text="${outfitDetail.style}"></span></p>
  <p>코디 설명: <span th:text="${outfitDetail.description}"></span></p>
  <p>상의: <span th:text="${outfitDetail.top}"></span></p>
  <p>하의: <span th:text="${outfitDetail.bottom}"></span></p>
  <p>아우터: <span th:text="${outfitDetail.outerwear}"></span></p>
  <p>신발: <span th:text="${outfitDetail.shoe}"></span></p>
  <p>계절: <span th:text="${outfitDetail.season}"></span></p>
  <p>추천 날씨:
    <span th:if="${outfitDetail.weatherList}"> <!-- weatherList가 null이 아니고 비어 있지 않은 경우에만 출력 -->
        <span th:each="weather, iterStat : ${outfitDetail.weatherList}">
            <span th:text="${weather}"></span>
            <span th:if="${!iterStat.last}">, </span> <!-- 현재 요소가 마지막 요소가 아닌 경우에만 쉼표 출력 -->
        </span>
    </span>
  </p>
  <p>좋아요: <span id="likeCount" th:text="${outfitDetail.likes}"></span></p>
  <button id="likeButton" data-outfit-id="${outfitIdLong}">좋아요</button>
  <button id="unlikeButton" data-outfit-id="${outfitIdLong}">좋아요 취소</button>
</div>

<script>
  // 좋아요 버튼 클릭 이벤트 처리
  document.getElementById('likeButton').addEventListener('click', function() {
    const outfitId = document.getElementById('outfitId').textContent;

    // outfitId를 사용하여 좋아요를 전송
    axios.post(`/ootd/like/${outfitId}`)
            .then(response => {
              const likeCount = response.data; // 서버에서 받은 좋아요 수
              const likeCountSpan = document.getElementById('likeCount');
              likeCountSpan.textContent = likeCount; // 좋아요 수 업데이트
            })
            .catch(error => {
              console.error('좋아요 실패', error);
            });
  });
  document.getElementById('unlikeButton').addEventListener('click', function() {
    const outfitId = document.getElementById('outfitId').textContent;

    // outfitId를 사용하여 좋아요를 전송
    axios.post(`/ootd/unlike/${outfitId}`)
            .then(response => {
              const likeCount = response.data; // 서버에서 받은 좋아요 수
              const likeCountSpan = document.getElementById('likeCount');
              likeCountSpan.textContent = likeCount; // 좋아요 수 업데이트
            })
            .catch(error => {
              console.error('좋아요 취소 실패', error);
            });
  });
</script>

</body>
</html>
