<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>코디 생성 폼</title>
    <link rel="stylesheet" type="text/css" href="/css/addOutfit.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        // 페이지 로드 시 실행
        window.addEventListener('load', function () {
            // 로컬 스토리지에서 액세스 토큰 가져오기
            const accessToken = localStorage.getItem('accessToken');

            // AccessToken이 있다면 서버로 보내서 회원 ID 가져오기
            if (accessToken) {
                // 서버에 AccessToken을 보내서 회원 ID 가져오는 AJAX 요청
                axios.get('/getMemberId', {
                    headers: {
                        'Authorization': `Bearer ${accessToken}`
                    }
                })
                    .then(response => {
                        const memberId = response.data; // 서버에서 받은 회원 ID

                        // memberId를 Thymeleaf 모델로 설정
                        document.getElementById('memberId').value = memberId;
                    })
                    .catch(error => {
                        console.error('회원 ID 가져오기 실패', error);
                    });
            }
        });
    </script>
</head>
<body>
<div class="container">
    <a th:href="@{/main}">뒤로가기</a>
    <h1>코디 생성</h1>
    <form th:action="@{'/outfit/create'}" method="post" enctype="multipart/form-data">
        <!-- member ID를 숨겨진 필드로 추가 -->
        <input type="hidden" id="memberId" name="memberId" th:value="${memberId}" />
        <div>
            <label for="name">코디 이름:</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div>
            <label for="description">코디 설명:</label>
            <textarea id="description" name="description" required></textarea>
        </div>
        <div>
            <label for="style">카테고리:</label>
            <select id="style" name="style" th:required="required">
                <option value="캐주얼">캐주얼</option>
                <option value="시크">시크</option>
                <option value="댄디">댄디</option>
                <option value="포멀">포멀</option>
                <option value="걸리시">걸리시</option>
                <option value="레트로">레트로</option>
                <option value="스포츠">스포츠</option>
                <option value="스트릿">스트릿</option>
                <option value="고프코어">고프코어</option>
            </select>
        </div>
        <div>
            <label for="season">계절:</label>
            <select id="season" name="season" th:required="required">
                <option value="봄">봄</option>
                <option value="여름">여름</option>
                <option value="가을">가을</option>
                <option value="겨울">겨울</option>
            </select>
        </div>
        <div>
            <div>
                <strong>날씨 선택</strong>
            </div>
            <div class="weather-checkbox">
                <label for="weather_thunderstorm">천둥우</label>
                <input type="checkbox" id="weather_thunderstorm" name="weatherList" value="Thunderstorm">
                <label for="weather_drizzle">이슬비</label>
                <input type="checkbox" id="weather_drizzle" name="weatherList" value="Drizzle">
                <label for="weather_rain">강한 비</label>
                <input type="checkbox" id="weather_rain" name="weatherList" value="Rain">
                <label for="weather_snow">눈</label>
                <input type="checkbox" id="weather_snow" name="weatherList" value="Snow">
                <label for="weather_clear">맑음</label>
                <input type="checkbox" id="weather_clear" name="weatherList" value="Clear">
                <label for="weather_clouds">흐림</label>
                <input type="checkbox" id="weather_clouds" name="weatherList" value="Clouds">
            </div>
        </div>
        <div>
            <label for="top_id">상의 ID:</label>
            <select id="top_id" name="top_id" required>
                <option value="">선택</option>
                <option th:each="clothes : ${topList}" th:value="${clothes.id}" th:text="${clothes.name}"></option>
            </select>
        </div>
        <div>
            <label for="bottom_id">바지 ID:</label>
            <select id="bottom_id" name="bottom_id" required>
                <option value="">선택</option>
                <option th:each="clothes : ${bottomList}" th:value="${clothes.id}" th:text="${clothes.name}"></option>
            </select>
        </div>
        <div>
            <label for="outerwear_id">아우터 ID:</label>
            <select id="outerwear_id" name="outerwear_id">
                <option value="">선택</option>
                <option th:each="clothes : ${outerList}" th:value="${clothes.id}" th:text="${clothes.name}"></option>
            </select>
        </div>
        <div>
            <label for="shoes_id">신발 ID:</label>
            <select id="shoes_id" name="shoes_id">
                <option value="">선택</option>
                <option th:each="clothes : ${shoesList}" th:value="${clothes.id}" th:text="${clothes.name}"></option>
            </select>
        </div>
        <h4>코디 사진 업로드</h4>
        <input type="file" name="file">
        <div>
            <input type="submit" value="코디 생성">
        </div>
    </form>
</div>
</body>
</html>
